<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.dental_camera_s700c_plugin">
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
</manifest>